@model List<AnimalsViewer.Models.CAnimal>

@{
    ViewBag.Title = "Animals";    
}
    <script src="Scripts/jquery-1.8.2.min.js"></script>
    <script src="Scripts/jquery.validate.min.js" > </script>

    <p>
        <input type="button" id="search" value="Search" />
        @Html.DropDownList("SkinColorId", String.Empty)
        @Html.DropDownList("AnimalTypeId", String.Empty)

        @{
            foreach(var region in ViewBag.Regions as ICollection<AnimalsViewer.Models.Region>)
            {
                <input type="checkbox" id="SelectedRegions" name="selectedRegions" value='@region.Id'>
                @region.Name
            }
        }

    </p>
    
    <div id="foundAnimals">
    
    </div>

<script src="Scripts/jquery-1.8.2.min.js"></script>
<script>
    $(document).ready(function () {

        window.onload = function () {
            $.ajax({
                url: "Animals/Search",
                type: "GET",
                traditional: true,
                data: null,
                success: function (data) {
                    $("#foundAnimals").html(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        $('#search').click(function () {
            var array = [];
            $('input:checked').each(function () {
                array.push($(this).val());
            });

            var optionsSearch = {
                "SkinColorId": $('#SkinColorId').val(),
                "AnimalTypeId": $('#AnimalTypeId').val(),
                "SelectedRegions": array
            };

            $.ajax({
                url: "Animals/Search",
                type: "GET",
                traditional: true,
                data: optionsSearch,
                success: function (data) {
                    $("#foundAnimals").html(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    });
</script>



        
